<header>
    <div class="navbar navbar-dark bg-warning shadow-sm">
        <div class="navbar-brand align-items-center d-flex" routerLink="/products">
            
            <i style="font-size: 22px; color: black;margin-left: 430px;margin-top: 8px;" class="fas fa-shipping-fast"></i>
            <strong style="font-size:25px;color:black;margin-left: 40px;">Ecommerce website</strong>
        </div>
        <button class="btn btn-warning"><i style="font-size: 30px;" class="fas fa-cart-plus" routerLink="/cart"></i>
          <div style="font-size: 10px;" class="badge bg-success">{{totalItem}}</div>
        </button>

    </div>
</header>